@charset "UTF-8";
		.reverseRotate{
							width:400px;
							height:400px;
				/*{#			border: solid 1px #ffffff;#}*/
							padding:20px;
						}

		.rotate{
			width: 380px;
			height:380px;
			background-color: blueviolet;
			box-shadow: 3px 3px #999999;
		}

		div {
		    transform-style: preserve-3d;
		    perspective: 500px;
		}

		.rotate {
	    animation: rotate 5s linear infinite;
		}
		.reverseRotate {
		    animation: reverseRotate 5s linear infinite;
		}
		@keyframes rotate {
		    100% {
		        transform: rotate(360deg);
		    }
		}
		@keyframes reverseRotate {
		    100% {
		        transform: rotate(-360deg);
		    }
		}

		@keyframes rotate {
		    0% {
		        transform: rotateX(0deg) rotateZ(0deg);
		    }
		    50% {
		        transform: rotateX(40deg) rotateZ(180deg);
		    }
		    100% {
		        transform: rotateX(0deg) rotateZ(360deg);
		    }
		}
