{% extends 'mbase_new.html' %}
{% block title %}感恩|我们上市啦！全民福利，邀你共享！{% endblock %}
{% block head %}
	<script src="/static/common/js/wxshare.js?2017032001"></script>
    <link href="/static/common/css/animation.css" rel="stylesheet"/>
    <link href="/static/caitong_security/css/caitong_security.css" rel="stylesheet">
	{% block headcss %}
	{% endblock %}
	{% block headjs %}
	{% endblock %}
{% endblock %}
{% block baidujs %}
	hm.src = "https://hm.baidu.com/hm.js?76f9dabbb0877098587e3d30f32cc302";
{% endblock %}
{% block bodyclass %}{% endblock %}
{% block body %}
    <audio src="/static/caitong_security/images/bgm2_s.mp3" id="yin1_audio" autoplay="autoplay" controls="controls" loop="loop" style="display: none"></audio>
	<div class="div-body" style="position: fixed" align="center">
		{#	第一页#}
		<div class="div-content-1" id="content-1">
			<img class="halo animate_infinite" id="halo_0" src="/static/caitong_security/images/halo_02_03.png"  >
			<img class="button" id="button" src="/static/caitong_security/images/cover_01_03.png"  >
		</div>
        {#  第二页#}
        <div class="div-content-2" id="content-2">
                 <img class="dialog_1 hid" id="dialog_1" src="/static/caitong_security/images/dialog_03.png"/>
                 <img class="dialog_2 hid"  id="dialog_2" src="/static/caitong_security/images/dialog_02_02.png"/>
                 <img class="dialog_3 hid" id="dialog_3" src="/static/caitong_security/images/dialog_03_03.png"/>
                 <img class="dialog_4 hid"  id="button_1" src="/static/caitong_security/images/dialog_02_10.png"/>
                 <img class="dialog_4_add hid" id="dialog_4" src="/static/caitong_security/images/dialog_last_01_03.png"/>
                <img class="halo halo_1 animate_infinite hid" id="light" style="width:25%;" src="/static/caitong_security/images/halo_02_03.png"/>
		</div>
        {#   第三页#}
    <div class="div-content-3" id="content-3">
        <marquee>厉害了财通！&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;哇！祝福财通越来越好！&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;福利是要点下方么？</marquee>
        <marquee>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所以，下一个风口在哪？！&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是财通老客户，用财通好多年了。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100%中奖哦～大家也试试。</marquee>
        <marquee>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;财通棒棒哒！&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其实我更关心红包在哪？&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;财通懂金融，更懂客户啊。
</marquee>
        <img onclick="vidplay()" id="video_button" src="/static/caitong_security/images/stop_01_03.png"/>
{#        <button  id="play" onclick="vidplay()">播放</button>#}
        <div class="video" id="video">
            <video id="Video1" width="84%" height="15%" controls class="hide">
              <source src="/static/caitong_security/images/video3.mp4" type="video/ogg">
              <source src="/static/caitong_security/images/video3.mp4" type="video/mp4">
            </video>
        </div>

        <div class="quiz_footer hide" id="quiz_footer">
        </div>
        <div class="button_out_div hide"  id="return_button_div">
        <img class="return_button" id="button_2" src="/static/caitong_security/images/return_meeting_button_01_03.png"/>
        </div>
    </div>

    {#   第四页#}
    <div class="div-content-4" id="content-4">
        <img class="dialog_5 hid" id="dialog_5" src="/static/caitong_security/images/dialog1_03_03.png"/>
        <div class="button_out hide"  id="button_out">
       <img id="button_3" src="/static/caitong_security/images/quize_win_03_03.png" style="width: 85%;"/>
        </div>
        <div class="quiz_footer hide" id="quiz_footer1">

        </div>
    </div>


    <div class="div-content-5"  id="div-content-5">
        {#	第五页#}
        <div class="question " id="content-5" >
{#            <img class="button_0" id="test_1" src="/static/caitong_security/images/prize_01_06.png" />#}
            <div class="question_title ">
                <span>提出“你的不懂，<br/>让我更懂你”</span>
            </div>

            <input name="know" type="text" id="know" style="font-size: 0.5rem;" placeholder="输入你的不懂"><br/>
            <div class="question_content">
                <p id="q_1"><img  src="/static/caitong_security/images/prize_01_10.png"/> <span>财商是天生的吗？</span></p><br/>
                <p id="q_2"><img  src="/static/caitong_security/images/prize_01_10.png"/><span>每个人生阶段应该设定何种财富目标？</span></p><br/>
                <p id="q_3"><img  src="/static/caitong_security/images/prize_01_10.png"/><span>什么金融产品比较好？</span></p><br/>
               <p  id="q_4"><img src="/static/caitong_security/images/prize_01_10.png"/><span>下半年股市将走向何方？</span></p><br/>
                <p  id="q_5"><img src="/static/caitong_security/images/prize_01_10.png"/><span>我可以投资什么类型的股票？</span></p>
            </div><br/>

        <img class="button_5" id="button_5" src="/static/caitong_security/images/publish_button_01_03.png" />
        <span class="spa" style=" font-weight:800; font-size:0.55rem;  color:red;">发布提问或查看热门标星问题答案即可抽取福利，100%中奖！</span><br/>
    </div>

       {# 问答一#}
    <div class="question hide" id="answers-1" style="height: 53%;position: relative; top:15%;">
        <img class="button_0" src="/static/caitong_security/images/prize_01_06.png" />
        <div class="question_title_01">
            <p style="color: #ffffff">财商是天生的吗？</p>
        </div>
         <div class="question_content1">
             <span style="font-size: 0.7rem; font-weight: bold; color:#004E8C;">本质上，财商是指商业敏锐度、创造财富和管理财富的能力。它并不是高深莫测的东西，是可以通过学习和实践得以改变的。</span>
             <img class="answer_frame" src="/static/caitong_security/images/know_01_03.png" />
         </div>
     </div>
        {#问答二#}
    <div class="question hide" id="answers-2" style="height: 64%;position: relative; top:15%;">
        <img class="button_0" src="/static/caitong_security/images/prize_01_06.png" />
        <div class="question_title_01" style="height: 18%;">
            <p style="color: #ffffff">每个人生阶段应该设定<br>何种财富目标？</p>
        </div>
        <div class="question_content1">
           <span style="font-size: 0.7rem; font-weight: bold; color:#004E8C;">单 &nbsp; 身 &nbsp; 期：搭配投资多多实践<br>
            家庭形成期：积极入股创造财富<br>
            家庭成长期：留存保险规避风险<br>
            家庭成熟期：积极与保守相平衡<br>
            退休衰老期：健康第一理财第二<br>
            </span>
           <img class="answer_frame" src="/static/caitong_security/images/know_01_03.png" />
        </div>
    </div>

        {# 问答三#}
     <div class="question hide" id="answers-3" style="height: 70%;position: relative; top:15%;">
        <img class="button_0" src="/static/caitong_security/images/prize_01_06.png" />
        <div class="question_title_01">
            <p style="color: #ffffff">什么金融产品比较好？</p>
        </div>
        <div class="question_content1">
           <span style="font-size: 0.7rem; font-weight: bold; color:#004E8C;text-align: left;">好的金融产品因人而需。给你推荐财通证券旗下大财富管理平台、融资定制服务、资管产品、基金产品、期货产品、投行业务、跨境投融服务等，全方位的投资理财解决方案，
             做更懂你的综合金融服务商。</span>
           <img class="answer_frame"  src="/static/caitong_security/images/know_01_03.png" />
         </div>
     </div>

        {#问答四#}
     <div class="question hide" id="answers-4" style="height: 53%;position: relative; top:15%;">
            <img class="button_0" src="/static/caitong_security/images/prize_01_06.png" />
            <div class="question_title_01">
                <p style="color: #ffffff">下半年股市将走向何方？</p>
            </div>
            <div class="question_content1">
                <span style="font-size: 0.7rem; font-weight: bold; color:#004E8C; text-align: left;">虽然“预期”总是说不清楚，但我们相信风雨之后见彩虹，还是可以乐观些。加油！</span><br/><br/>
                <img class="answer_frame" src="/static/caitong_security/images/know_01_03.png" />
            </div>
     </div>

        {# 问答五#}
     <div class="question hide" id="answers-5" style="height: 53%;position: relative; top:15%; width: 87%;">
            <img class="button_0" src="/static/caitong_security/images/prize_01_06.png" />
            <div class="question_title_01" style="padding:4% 2% 4% 2%;">
                <p style="color: #ffffff; {% comment %}text-align: left;{% endcomment %}">我可以投资什么类型的股票？</p>
            </div>
            <div class="question_content1">
               <span style="font-size: 0.7rem; font-weight: bold; color:#004E8C;">股票投资风格应个人的性格因人而异，从价值投资的角度看购入价值低估的个股风险收益相对比较高。</span><br/><br/>
               <img class="answer_frame"  src="/static/caitong_security/images/know_01_03.png" />
             </div>
    </div>

        {#	第六页#}
    <div class="question hide" id="content-6" style="height: 50%; position: relative; top:15%;">
            <img class="button_0" src="/static/caitong_security/images/prize_01_06.png" />
            <div class="question_title_01" style="padding:2% 5%;">
                <p id="question_answer_01" style="color: #ffffff">有什么好的股票推荐？</p>
            </div>
        <div class="question_content1" style="vertical-align:middle;font-size: 0.7rem; font-weight: bold; color:#004E8C; line-height: 1.5rem;">
           <p>
               <span style="text-decoration:none;"> 快下载</span><img src="/static/caitong_security/images/biaozhi_03.png" style="vertical-align:middle; width:10%;"/>
               <span style="color: #F5A200;">财通证券</span>去寻找答案吧。一站式服务，
               帮你指点间把握稍纵即逝的投资机会。</p>
           <img id="button_6" src="/static/caitong_security/images/know_01_03.png" style="width: 90%; " />
         </div>
     </div>

        {#	第八页#}
     <div  class="question hide" id="content-8" style="height: 69%;">
            <img class="button_0" src="/static/caitong_security/images/prize_01_06.png" />
            <div class="question_title" style="height: 17%;">
                <span style="color: #ffffff; font-size:1.1rem;">恭喜你<br/>获取上市好礼抽奖机会</span>
            </div>
            <div class="turntable" id="turntable">

                <img class="prize_2" id="rotate_hd" src="/static/caitong_security/images/rotate_new_02_03.png" />
                <img class="prize_1" id="button_prize" src="/static/caitong_security/images/dianji_01_03.png" />
                <input style="display: none" id="prize_date" value="{{ out_date }}">
            </div>
{#            <div class="question_footer" style="width:100%;">#}
{#                <h6 id="test"> 点击输入你的联系方式</h6>#}
{#                <p>红包将重值至你的微信钱包账户，请及时关注。</p>#}
{#            </div>#}
     </div>

        {#	第九页#}
        <div class="question hide" id="content-9" style="position: relative; top:-56%; height: 75%;">
{#           <img class="button_0" src="/static/caitong_security/images/prize_01_06.png" />#}
            <div class="question_title" style="position: relative;height: 16%">
                <span style="color: #ffffff;  font-size:1.1rem;" id="prize_span">恭喜你</span><br/>
                    <span style=" font-size:1.1rem;" id="prize_info"></span>
            </div>
            <img class="prize_3" src="/static/caitong_security/images/hongbao.png" />
            <div id="bag_info" class="bag_info"></div>
            <div class="question_footer" style="width: 100%;" id="input_footer">
                <h6 id="input_jump"><img src="/static/caitong_security/images/contact_button_01_03.png"/></h6>
                <div id="prize_type" class="hide">1</div>
{#                <p style="color:#004E8C">红包将重值至你的微信钱包账户，请及时关注。</p>#}
            </div>
            <div class="question_footer hide" style="width: 100%;" id="return_footer">
                <h6 id="input_jump"><img src="/static/caitong_security/images/return_button.png"/></h6>
                <div id="prize_type" class="hide">1</div>
            </div>
        </div>

        {#	第十页#}
     <div  class="question hide" id="content-new"  style="position: relative; top:-50%; height: 58%;">
            <img id="last_button" src="/static/caitong_security/images/role_01_03.png"  style="width: 13%;"/>
            <div class="question_title" style="height: 19%;">
{#                <img src="/static/caitong_security/images/role_title_01_03.png"/>#}
                <span style="color: #ffffff;font-weight: bold; font-size:1rem; position: absolute; top:3%; left: 0; line-height:1.5rem; width: 100%">感恩同行，共庆上市<br/>
                感谢你为财通证券上市助力</span>
            </div>
            <div class="turntable_1" id="turntable">
                <p>
                <span style="color:#004E8C; font-size:0.8rem;text-decoration: none; font-weight: bold;">活动规则</span>
                <span style="color:#004E8C; font-size:0.6rem;text-decoration: none;font-weight: bold; text-align: left;">1、流量将在活动结束一周后，充值至对应手机号；实物奖品将在10个工作日内寄送至用户指定地址。<br/>
                2、活动仅限于10月24日，每个手机号、id号只有一次参与机会。<br>
                3、财通证券股份有限公司保留本次活动的最终解释权。

                </span></p>
            </div>
{#            <div class="question_footer" style="width:100%;">#}
{#                <h6 id="test"> 点击输入你的联系方式</h6>#}
{#                <p>红包将重值至你的微信钱包账户，请及时关注。</p>#}
{#            </div>#}
     </div>



        {#第十一页#}
        <div class="div-content-10 hide" style="position: relative; top:-69.6%;" id="content-10">
             <img class="cover_1 " id="cover_1" src="/static/caitong_security/images/last_word_00_03.png"/>
             <img class="cover_2 " src="/static/caitong_security/images/cover_word_01_03.png"/>
             <img class="cover_3 animate_infinite_f" id="lihua" src="/static/caitong_security/images/lihua_01_10.png"/>
		</div>


{#            <div class="div-content-input" id="div-content-input" style="height: 50%;position: relative; top:15%;">#}
{#                <div class="question" id="content-input">#}
{#                    <img class="button_0" src="/static/caitong_security/images/prize_01_06.png"/>#}
{#                    <div class="question_title ">#}
{#                        <span>提问“你的不懂”<br/>让我更懂你</span>#}
{#                    </div>#}
{##}
{#                    <input name="know" type="text" id="know" style="font-size: 0.7rem;" placeholder="输入你的不懂"><br/>#}
{#                </div>#}
{#            </div>#}
            <div class="question2 hide" id="div-content-input">
{#            <img class="button_0" src="/static/caitong_security/images/prize_01_06.png" />#}
            <div class="question_title">
                <span id="input_title">请输入你的联系方式</span>
            </div>
{#                <br>#}
                <input name="mobile_phone" type="number" id="mobile_phone" value="{{ mobile_phone|default_if_none:'' }}" style="font-size: 0.7rem;"
                       placeholder="请输入你的手机号码">
{#                <br>#}
                <input name="address" type="text" id="address" value="{{ address|default_if_none:'' }}" style="font-size: 0.7rem" placeholder="请输入你的收件地址">
                <input name="receive_name" type="text" id="receive_name" value="{{ receive_name|default_if_none:'' }}" style="font-size: 0.7rem" placeholder="请输入收件人">
{#                <br>#}
            <div class="question_content input_button">
                <img id="input_submit" src="/static/caitong_security/images/submit.png" class="input_submit">
{#               <p id="submit_test"><span>提交</span></p><br/>#}
            </div>
            <div class="last_text">请仔细核对信息，不然会收不到奖品哦！</div>

{#        <img class="button_5" id="button_5" src="/static/caitong_security/images/publish_button_01_03.png" /><br/>#}
{#        <span class="spa" style=" font-weight:500; font-size:0.7rem; color:#004E8C;">提问即可抽10-100元红包</span>#}
        </div>


     </div>

	</div>
{% endblock %}
{#{% block dajaxice %}#}
{#    <script src="/static/dajaxice/dajaxice.core.js?2017102001" type="text/javascript" charset="utf-8"></script>#}
{#{% endblock %}#}
{% block foot %}
	<script src="/static/caitong_security/js/actiivity.js"></script>
    <script>
        window.onload = function () {
            var _title = "感恩|我们上市啦！全民福利，邀你共享！";
            var _desc = '加入这场"更懂你"的发布会，领取属于你的上市惊喜！';
            var _imgUrl = "http://ct.haotunet.com/static/caitong_security/images/share.png";
            var _link = "http://ct.haotunet.com/caitong_security";
            share_config(_title, _desc, _imgUrl, _link, [], function () {
            }, function () {
            });
        };
     function vidplay() {
         var shipin = $("#Video1");
         shipin.show();
         shipin.trigger("play");
         audiostop("yin1_audio");
{#       var video = document.getElementById("Video1");#}
{#         #}
{#          video.play();#}
    }


     var d_video = document.getElementById('Video1');
     d_video.addEventListener('play', function () {
         audiostop("yin1_audio");
     }, false);

     d_video.addEventListener('ended', function () {
         audioAutoPlay('yin1_audio');
         audioAutoPlay2('yin1_audio');
     }, false);

     d_video.addEventListener('pause', function () {
         audioAutoPlay('yin1_audio');
         audioAutoPlay2('yin1_audio');
     }, false);



{#    var my_h1 = document.body.clientHeight * 1.775;#}
{#    document.getElementsByTagName('html')[0].style.height = my_h1 + 'px';#}
{#    $(document).ready(function(){#}
{#        $("#content-5").css("height","(my_h1 + 'px')*0.8");#}
{#    });#}



     function audioAutoPlay(id) {
         var my_audio = document.getElementById(id);
{#         document.addEventListener("WeixinJSBridgeReady", function () {#}
             my_audio.play();
             my_audio.addEventListener('ended', function () {
                 my_audio.play();
             }, false);
            my_audio.addEventListener('ended', function () {
                 my_audio.play();
             }, false);
{#         }, false);#}
     }
     audioAutoPlay('yin1_audio');

     function audioAutoPlay2(id) {
         var my_audio = document.getElementById(id);
         document.addEventListener("WeixinJSBridgeReady", function () {
             my_audio.play();
             my_audio.addEventListener('ended', function () {
                 my_audio.play();
             }, false);
            my_audio.addEventListener('ended', function () {
                 my_audio.play();
             }, false);
         }, false);
     }
     audioAutoPlay2('yin1_audio');

    function audiostop(id) {
        var my_audio = document.getElementById(id);
        my_audio.pause();
    }

    </script>
{% endblock %}
