<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>签陵小轩购物网站</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
	<link rel="stylesheet" href="/static/shop/css/base.css">
	<link rel="stylesheet" href="/static/shop/css/header.css">
</head>
<body>
	<div id="header">
		<a href="#" id="logo">QianLing Shopping</a>
		<ul id="skin">
			<li id="skin_0" title="蓝色" class="selected">蓝色</li>
			<li id="skin_1" title="紫色">紫色</li>
			<li id="skin_2" title="红色">红色</li>
			<li id="skin_3" title="天蓝色">天蓝色</li>
			<li id="skin_4" title="橙色">橙色</li>
			<li id="skin_5" title="淡绿色">淡绿色</li>
		</ul>
	</div>
	<div id="navigation"></div>
	<div id="content"></div>
</body>
</html>