<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>web_1</title>
	<link href="/static/index/css/index.css" rel="stylesheet">
	<style>


	</style>
</head>
<body>
<div class="reverseRotate" align="center">
    <div class="rotate" >
        <div class="content">神奇的div</div>
    </div>


</div>
<input id="my" type="text" value="点击看看" onclick="javascript:test(this);">

{#绘制桃心#}
<h1>绘制桃心</h1>
<div class="my_true_heart leaves leave01"></div>
<div class="my_true_heart leaves leave02"></div>
<div class="my_true_heart leaves leave03"></div>
<div class="my_true_heart leaves leave04"></div>
<div class="my_true_heart leaves leave05"></div>


</body>
<script src="/static/index/js/index.js"></script>

<script>
	function test(obj){
		alert(obj + obj.id + obj.value);
	}

</script>

</html>