<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>jQuery焦点图片轮播切换代码 - 站长素材</title>
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/demo.css">
	<link rel="stylesheet" href="/static/css/app.css">
	<link href="/static/index/css/index.css" rel="stylesheet">
	<style>


	</style>
</head>
<body>
<div class="reverseRotate" align="center">
    <div class="rotate" >
        <div class="content">神奇的div</div>
    </div>


</div>
<input id="my" type="text" value="点击看看" onclick="javascript:test(this);">

{#绘制桃心#}
<h1>绘制桃心</h1>
<div class="my_true_heart leaves leave01"></div>
<div class="my_true_heart leaves leave02"></div>
<div class="my_true_heart leaves leave03"></div>
<div class="my_true_heart leaves leave04"></div>
<div class="my_true_heart leaves leave05"></div>

 <div class="slider">
	<div class="slider-img">
		<ul class="slider-img-ul">
			<li><img src="/static/images/slider-5.jpg"></li>
			<li><img src="/static/images/slider-1.jpg"></li>
			<li><img src="/static/images/slider-2.jpg"></li>
			<li><img src="/static/images/slider-3.jpg"></li>
			<li><img src="/static/images/slider-4.jpg"></li>
			<li><img src="/static/images/slider-5.jpg"></li>
			<li><img src="/static/images/slider-1.jpg"></li>
		</ul>
	</div>

</div>
</body>
<script src="/static/index/js/index.js"></script>
<script src="/static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/xSlider.js"></script>


<script>
	function test(obj){
		alert(obj + obj.id + obj.value);
	}

</script>

</html>