<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js_test</title>
	<script src="/static/js/jquery-3.2.1.js"></script>
	<script src="/static/js/formPlugin.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/layout.css"/>
	<link href="/static/index/css/index.css" rel="stylesheet">
</head>
<body>

	<!--视频切换-->
	<h1>视频切换</h1>
	<div class="v_show">
		<!--头部标题，按钮等-->
		<div class="v_caption">
			<h1 class="cartoon" title="卡通动漫">卡通动漫</h1>
			<div class="highlight">
				<span class="current">1</span>
				<span>2</span>
				<span>3</span>
				<span>4</span>
			</div>
			<div class="change_btn">
				<span class="prev">上一页</span>
				<span class="next">下一页</span>
			</div>
			<em><a href="#">更多>></a></em>
		</div>
		<!--视频内容展示-->
		<div class="v_content">
			<div class="v_content_list">
				<ul>
					<li><a href="#"><img src="/static/images/h1.jpg" alt="海贼王1"></a><h4><a href="#">海贼王1</a></h4><span>播放:<em>50,233</em></span></li>
					<li><a href="#"><img src="/static/images/h2.jpg" alt="海贼王2"></a><h4><a href="#">海贼王2</a></h4><span>播放:<em>35,125</em></span></li>
					<li><a href="#"><img src="/static/images/h3.jpg" alt="海贼王3"></a><h4><a href="#">海贼王3</a></h4><span>播放:<em>46,532</em></span></li>
					<li><a href="#"><img src="/static/images/h4.jpg" alt="海贼王4"></a><h4><a href="#">海贼王4</a></h4><span>播放:<em>57,865</em></span></li>
					<li><a href="#"><img src="/static/images/h1.jpg" alt="海贼王5"></a><h4><a href="#">海贼王1</a></h4><span>播放:<em>50,233</em></span></li>
					<li><a href="#"><img src="/static/images/h2.jpg" alt="海贼王6"></a><h4><a href="#">海贼王2</a></h4><span>播放:<em>35,125</em></span></li>
					<li><a href="#"><img src="/static/images/h3.jpg" alt="海贼王7"></a><h4><a href="#">海贼王3</a></h4><span>播放:<em>46,532</em></span></li>
					<li><a href="#"><img src="/static/images/h4.jpg" alt="海贼王8"></a><h4><a href="#">海贼王4</a></h4><span>播放:<em>57,865</em></span></li>
					<li><a href="#"><img src="/static/images/h1.jpg" alt="海贼王9"></a><h4><a href="#">海贼王1</a></h4><span>播放:<em>50,233</em></span></li>
					<li><a href="#"><img src="/static/images/h2.jpg" alt="海贼王10"></a><h4><a href="#">海贼王2</a></h4><span>播放:<em>35,125</em></span></li>
					<li><a href="#"><img src="/static/images/h3.jpg" alt="海贼王11"></a><h4><a href="#">海贼王3</a></h4><span>播放:<em>46,532</em></span></li>
					<li><a href="#"><img src="/static/images/h4.jpg" alt="海贼王12"></a><h4><a href="#">海贼王4</a></h4><span>播放:<em>57,865</em></span></li>
				</ul>
			</div>
		</div>
	</div>

	<!--dom测试-->
	<h1>What to buy</h1>
	<p title="a gentle">Dont't  forget to buy this stuff.</p>
	<ul id="buy">
		<li>A tin of beans</li>
		<li>Cheese</li>
		<li>Milk</li>
	</ul>

	<!--图片美术馆-->
	<h1>Snapshorts</h1>
	<ul class="gallery" id="gallery" >
		<li><a href="/static/images/f1.jpg" class="tooltip" onclick="showPic(this); return false" title="A">fire</a></li>
		<li><a href="/static/images/f2.jpg" onclick="showPic(this); return false" title="B">coffee</a></li>
		<li><a href="/static/images/f3.jpg" onclick="showPic(this); return false" title="C">rose</a></li>
		<li><a href="/static/images/f4.jpg" onclick="showPic(this); return false" title="D">famous</a></li><br/>
		<img id="img" src="/static/images/test.jpg" alt="my image gallery" style="width:20%;"/>
		<p id="description">Choose an image.</p>
	</ul>

	<!--绘制桃心-->
	<div class="my_true_heart leaves leave01"></div>
	<div class="my_true_heart leaves leave02"></div>
	<div class="my_true_heart leaves leave03"></div>
	<div class="my_true_heart leaves leave04"></div>
	<div class="my_true_heart leaves leave05"></div>

	<!--品牌展示-->
	<h1>品牌展示</h1>
	<div class="box">
		<ul>
			<li>佳能
			</li>
			<li>索尼</li>
			<li>三星</li>
			<li>尼康</li>
			<li>松下</li>
			<li>卡西欧</li>
			<li>富士</li>
			<li>柯达</li>
			<li>槟得</li>
			<li>理光</li>
			<li>奥林巴斯</li>
			<li>明基</li>
		</ul>
		<div class="showmore">
			<a href=""><span>显示全部品牌</span></a>
		</div>
	</div>

	<!--bind绑定事件-->
	<h1>绑定事件</h1>
	<div id="pane1">
		<h5 class="head">什么是jQuery？</h5>
		<div class="content">
			$("ul").append($li_1);
			$("ul").append($li_2);
			或者可以采用链式写法：$("ul").append($li_1).append($@li_2);
				* 创建文本节点
			创建文本节点就是在创建元素节点时直接把文本内容写出来。然后使用append（）等方法将它们添加到文档中就可以了。
		</div>
	</div>

	<!--animate动画的实现-->
	<h1>动画的实现</h1>
	<div id="panel1"></div>

	<!--轮播图-->
	<h1>轮播图</h1>
	<div class="frame_father" >
		<div id="frame" >
	        <a id="a1" class="num">1</a>
	        <a id="a2" class="num">2</a>
	        <a id="a3" class="num">3</a>
	        <a id="a4" class="num">4</a>
	        <a id="a5" class="num">5</a>
	        <div id="photos" class="play">
	              <img src="http://eduppp.cn/images/0/1.jpg" >
	              <img src="http://eduppp.cn/images/0/3.jpg" >
	              <img src="http://eduppp.cn/images/0/4.jpg" >
	              <img src="http://eduppp.cn/images/0/5.jpg" >
	              <img src="http://eduppp.cn/images/0/2.jpg" >
	{#              <ul id="dis">#}
	{#                <li>中国标志性建筑：天安门</li>#}
	{#                <li>中国标志性建筑：东方明珠</li>#}
	{#                <li>中国标志性建筑：布达拉宫</li>#}
	{#                <li>中国标志性建筑：长城</li>#}
	{#                <li>中国标志性建筑：天坛</li>#}
	{#              </ul>#}
	        </div>
		</div>
	</div>

	<!--文本框-->
	<h1>文本框</h1>
	<form action="" method="POST" id="regForm">
		<fieldset>个人基本信息
		<div>
			<label for="username">名称：</label>
			<input type="text" id="username">
		</div>
		<div>
			<label for="pass">密码：</label>
			<input type="password" id="pass">
		</div>
		<div>
			<label for="msg">详细信息：</label>
			<textarea name="" id="msg" cols="30" rows="10"></textarea>
		</div>
			</fieldset>
	</form><br/><br/><br/>

	<!--多选框的全选-->
	<h1>多选框的选择</h1>
	<form action="">
		你爱好的运动是？
		<input type="checkbox" id="checkedAll"/>全选/全不选<br/>
		<input type="checkbox" name="items" value="足球"/>足球
		<input type="checkbox" name="items" value="篮球">篮球
		<input type="checkbox" name="items" value="羽毛球">羽毛球
		<input type="checkbox" name="items" value="兵乓球">兵乓球<br/>

		<input type="button" id="CheckAll" value="全选">
		<input type="button" id="CheckedNo" value="全不选">
		<input type="button" id="CheckedRev" value="反选">
		<input type="button" id="send" value="提交">
	</form><br/><br/>

	<!--上传文件进度条-->
	<h1>上传文件进度条</h1>
	<div class="HW_upload">请选择要上传到的文件
		<input type="file" >
	</div>

	<!--form表单的样式-->
	<form action="" id="myForm" method="post">
		名称：<input type="text" name="name"><br/>
		地址：<input type="text" name="address"><br/>
		自我介绍：<textarea name="comment" id="" cols="30" rows="10"></textarea><br/>
		<input type="submit" id="test" value="提交"/><br/>
		<div id="output1" style="display: none"></div>
	</form>

</body>

<script type="text/javascript" src="/static/js/showPic.js"></script>
<script type="text/javascript">
	/*
	利用占位符在本页切换图片
	*/
{#	function showPic(whichpic) {#}
{#		var source=whichpic.getAttribute("href");#}
{#		var text = whichpic.getAttribute("title");#}
{#		var placeholder = document.getElementById("img");#}
{#		var description = document.getElementById("description");#}
{#		placeholder.setAttribute("src", source);#}
{#		description.firstChild.nodeValue = text;#}
{#		}#}

	/*
	* 检测节点数
	* */
{#	window.onload = countBodyChildren;#}
{#	function countBodyChildren(){#}
{#		var body_test = document.getElementsByTagName("body")[0];#}
{#		alert(body_test.nodeType); //查看节点的类型#}
{#	}#}

	/*
	* 检索功能
	* */
{#	var paras = document.getElementsByTagName("p");#}
{#	for (var i = 0;i<paras.length; i++){#}
{#		var test = paras[i].getAttribute("title");#}
{#		if(test){#}
{#			alert(test);#}
{#		}#}
{#	}#}
{#	alert(typeof document.getElementById("buy"));#}

	/*
	获得属性和改变属性
	 */
{#	var shopping = document.getElementById("buy");#}
{#	alert(shopping.getAttribute("title"));#}
{#	shopping.setAttribute("title", "success");#}
{#	alert(shopping.getAttribute("title"));#}
</script>
</html>