<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>测试</title>
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
        .div1{
    width:200px;
    height:200px;
    position:absolute;
    {#top:50px;#}
    {#left:100px;#}
    background:#00BCF3;
    display:none;
    }
    </style>
</head>
<body>
	<div class="comment">
		已有评论：
	</div>
	<div class="comment">
		<h6>张三：</h6>
		<p class="para">沙发</p>
	</div>
	<div class="comment">
		<h6>李四：</h6>
		<p class="para">板凳</p>
	</div>
	<div class="comment">
		<h6>王五：</h6>
		<p class="para">地板</p>
	</div>
    <div class="form-control"></div>

    <input class="btn" type="button" value="点击"/>
    <div class="div1"></div>


</body>
<script>
    $(document).ready(function () {
        $(".btn").click(function() { //点击按钮出现div1
            $(".div1").show("slow");
        });
        $("*").click(function (event) {
            if (!$(this).hasClass("div1")&&!$(this).hasClass("btn")){
                    $(".div1").hide("slow");
            }
            event.stopPropagation(); //阻止事件冒泡
        });
    });
</script>
</html>